body {
font-family:rye;
background-color: #FAA901;
color: #9300F5;
}

h1,h2,h3,h4,h5,h6 {
font-family:"Overlock SC";
font-size: 40pt;
text-align: center;
}

h1, {
    font-size:40pt;
}


header {
    text-align: center;
}

#hero,footer {
    background-color:#F4306E;
    text-align: center;
    padding:10px;
    border: 2px solid #1600C2;

}

#hero img {
    width: 300px
}

#bio {
    text-align: center;
}

footer {
    font-size: 75%;
}

h2 {
    text-align: left;
}
ul {
    text-align: left;
}

div {
    text-align: left;
}

figure {
    background-color:#F4306E;

}

#gallery {
    border: 4px solid #1600C2;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 28%;
}

#gallery figure {
    text-align: center;
}

#lit {
    border: 4px; border-color: #1600C2;
    margin-bottom: 2rem;

}

#lit div {
    padding: 2rem;
    max-width: 35rem;
    margin: 0 auto;
}

